@media all and (max-width: 35em) {
  /* Contato */
  .contato{
    .display-informacoes {
        display: flex;
        flex-flow: column;
        align-items: baseline;
        gap: 2.441rem;
        }
    }

    /* Secao Portfolio */
    .container-flex .projetos{
     & img{
        max-width: 98vw;
        }
    }
}