@media all and (max-width: 64.38em) {   
  /* Formatacao Global */
  html {
    /* font-size: 9px; */
    font-size: 56.25%;
  }

  .container {
    max-width: 98vw;
  }
  
  /* Cabecalho e navegacao do Portfolio */
  .cabecalho {
    max-width: 98vw;
  }

}