@media all and (max-width: 28.12em) {
    /* Formatacao Global */
  html {
    /* font-size: 7px; */
    font-size: 43,75%;
  }

  /* Cabecalho e navegacao do Portfolio */
  .cabecalho {
    display: grid;
    gap: 1.2rem;

    & nav{
      display: block;

      & ul {
        display: flex;
        /* flex-flow: column; */
        justify-content: space-between;
        /* align-items: center;
        gap: 1.953rem;
        padding: 0 1rem;
      }
    }

    & .icone-menu{
      display: block;
      grid-row-start: 1;
    }

    & .icone-fechar{
      display: none;
      grid-row-start: 1;
    }

    & .icone-menu, & .icone-fechar{
      justify-self: right;
    } */
    }
  }
}

   /* Secao Portfolio */
   .container-flex .projetos{
    & img{
       max-width: 90vw;
       }
   }

   /* Div Whatsapp Fixo */
  .whatsapp-fixo {
  right: 1rem;
  }
}