@media all and (max-width: 47.50em) {

    /* Secao apresentacao */
    .apresentacao {
        .container-flex {
          display: flex;
        }
    
        .container-flex {
          flex-grow: 1; 
        }
    
        & img {
          display: none;
        }
      }

      /* Secao Portfolio */
      .projetos figure a{
        & img{
            max-width: 98vw;
        }
      }
}