/* Style of Portfolio Lucas Degrande */

/* Global formatting */
html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

* {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  color: #404040;
  box-sizing: border-box;
}

h2 {
  font-size: 3.2rem;
}

/* Apresentation*/
h1 {
  font-size: 3.8rem;
  font-weight: 600;
  color: #404040;
}

/* Heander and nav of the Portfolio - cabeçalho */
.menu-cabecalho {
  color: #112e61;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.7rem;
}

.menu-cabecalho a {
  color: #112e61;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.7rem;
}

/* section about me.  */
.about-me p {
  font-size: 1.9rem;
  line-height: 1.4;
}

/* section knowledge */
.knowledge li {
  font-size: 1.9rem;
}

/* Contact information */
#secao-final a {
  color: #112e61;
  text-decoration: none;
  font-size: 1.6rem;
  font-style: normal;
}

#secao-final h3 {
  font-size: 2rem;
  font-style: normal;
}

/* Section Copyright */
section > p {
  font-size: 1.5rem;
}
