/* Style.css Portfolio Lucas Degrande */

/* Importacao do materialize-css */
@import "~materialize-css/dist/css/materialize.min.css";


/* Formatacao Global */
body, a {
  font-family: "Montserrat", "Open Sans", "Roboto", Verdana, Tahoma, sans-serif;
  background-color: darken-3;
  color: rgb(255, 255, 255);
  text-align: justify;
}

img {
  width: 3rem;
}

.responsive-img {
  width: 95%;
  height: auto;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.488rem;
  text-align: center;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

legend {
  display: inline-block;
  margin: 0.3rem;
}
