/* Style.css Portfolio Lucas Degrande */

/* Importacao do materialize-css */
@import "~materialize-css/dist/css/materialize.min.css";


/* Formatacao Global */
body, a {
  font-family: "Montserrat", "Open Sans", "Roboto", Verdana, Tahoma, sans-serif;
  background-color: darken-3;
  color: rgb(255, 255, 255);
}

svg {
  fill: rgb(255, 255, 255);
  height: 3rem;
  width: 100%;
}

img {
  width: 3rem;
}